@charset "UTF-8";
$orange: #ff6b57;
$green: #41c3ac;
$purple: #9b59b6;
$blue: #3498db;
$light: #f8f8f8;
$black: #303030;
$darkgreen: #717e62;
$gray: #444444;
$white: #fff;

$success: #5cb85c;
$danger: #d9534f;
$default: #777;
$primary: #337ab7;
$warning: #f0ad4e;
$info: #5bc0de;

// Imports
@import "./_bourbon";
@import "./task";
// Imports

html,
body {
  height: 100%;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.wrap > .container {
  padding: 70px 15px 20px;
}

.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

a.asc:after {
  content: /*"\e113"*/
          "\e151";
}

a.desc:after {
  content: /*"\e114"*/
          "\e152";
}

.sort-numerical a.asc:after {
  content: "\e153";
}

.sort-numerical a.desc:after {
  content: "\e154";
}

.sort-ordinal a.asc:after {
  content: "\e155";
}

.sort-ordinal a.desc:after {
  content: "\e156";
}

.grid-view th {
  white-space: nowrap;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
  padding: 15px;
  border: none;
}

@media(max-width: 767px) {
  .nav li > form > button.logout {
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 15px;
  }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
  text-decoration: none;
}

.nav > li > form > button.logout:focus {
  outline: none;
}

.btn-hover-info:hover,
.btn-hover-info:focus,
.btn-hover-info:active {
  color: $light;
  background-color: $info;
  border-color: $info;
}

.btn-hover-danger:hover,
.btn-hover-danger:focus,
.btn-hover-danger:active {
  color: $light;
  background-color: $danger;
  border-color: $danger;
}

.btn-hover-success:hover,
.btn-hover-success:focus,
.btn-hover-success:active {
  color: $light;
  background-color: $success;
  border-color: $success;
}

.vertical-align {
  display: flex;
  align-items: center;
  height: 10rem;
}

.flex-right {
  flex-direction: row-reverse;
}

#page-wrapper .breadcrumb {
  background: $white;
}